{
	admin off
	servers {
		timeouts {
			idle 0
		}
	}
}

:80

encode zstd gzip
root * /usr/share/caddy

handle /api/* {
	reverse_proxy localhost:7070
}

handle {
	file_server {
		precompressed zstd gzip
	}
	try_files {path} /index.html
}
